<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-bold.ttf</string>
		<string>Lato-black.ttf</string>
		<string>Lato-light.ttf</string>
		<string>Lato-regular.ttf</string>
		<string>Lato-thin.ttf</string>
	</array>
</dict>
</plist>
